* {
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

header {
    width: 600px;
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;

    h1 {
        width: 600px;
        font-size: 20pt;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        text-align: center;
    }
}

#mainWrapper {
    //background-color: aqua;
    width: 700px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    #titlesWrapper, #descriptionWrapper {
        //width: 330px;
        //height: 420xpx;
        //background-color: coral;
        border: 1px solid rgb(151, 151, 151);
        padding: 10px;
        gap: 10px;
    }

    #titlesWrapper {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        #addNewBank {
            //background-color: pink;
            border: 1px solid rgb(151, 151, 151);
            display: grid;
            align-content: center;
            justify-content: center;
            cursor: pointer;
        }
    }


    #listBankSettings {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

        #divCalculateMortgage {
            display: none;
        }

        #liSubmitCancel {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

        #divCancel {
            border: 1px solid rgb(151, 151, 151);
            height: 100%;
            display: grid;
            align-content: center;
            justify-content: center;
            cursor: pointer;
        }

        #divSubmit {
            border: 1px solid rgb(151, 151, 151);
            height: 100%;
            display: grid;
            align-content: center;
            justify-content: center;
            cursor: pointer;
        }

        .liGrid {
            display: grid;
            grid-template-rows: 1fr 1fr;            
            align-items: center;
        }
    }
}