* {
    font-family: 'Courier New', Courier, monospace;
}

header {
    //background-color: blue;
    width: 600px;
    height: 80px;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;

    h1 {
        //background-color: yellow;
        width: 600px;
        font-size: 20pt;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        text-align: center;
        user-select: none;
    }
}